<h2>Patient Details</h2>

  <div>
    <label>First name:</label>
      <%= @patient.first_name.downcase.capitalize %>
    </div>
    <br>
  <div>
    <label>Last name:</label>
      <%= @patient.last_name.downcase.capitalize %>
    </div>
    <br>
  <div>
    <label>Malady:</label>
      <%= @patient.malady.downcase.capitalize %>
    </div>
    <br>
  <div>
    <label>Gender:</label>
      <%= @patient.gender.downcase.capitalize %>
    </div>
    <br>
  <div>
    <label>Date of birth:</label>
      <%= @patient.date_of_birth %>
    </div>
    <br>

   <div>
    <label>Medications:</label>
      <% @patient.medications.each do |x| %>
        <br>
        <%= x.name %>
        <br>
        <%= x.description %>
        <br>
        <%= x.instructions %>
        <br>
        <%= link_to "Edit", edit_hospital_patient_medication_path(@hospital, @patient, x) %>
        <br>
      <% end %>
  </div>
    <br>
    
  <div>
    <label>Doctors:</label>
    <% @patient.doctors.each do |doctor| %>
      <%= doctor.first_name %>
      <%= doctor.last_name %>
    <% end %>
  </div>
      <br>

<%= link_to "Add Medications", new_hospital_patient_medication_path(@hospital, @patient) %>
    <br>

<%= link_to "Edit record", edit_hospital_patient_path(@hospital, @patient) %>
    <br>

<%= link_to "Back to list of patients", hospital_path(@hospital, method: :get) %>