<h1>Welcome to the network!</h1>
<!--       <div class="page-header">
           <h1>Success!</h1>
      </div>
      <center><img src="/assets/success!_PNG_copy.png" class="img-responsive" alt="SUCCESS!!!"></center> 
      This is how you include the wizard! -->

      <div class="page-header">
      <h1><center><%= link_to "Our Facilities", "javascript:void(0);", class: "drop_down_nested_items" %></center></h1>
         
      </div>
<!-- 
<%= link_to 'Enter a new hospital', new_hospital_path(@hospital) %>
 -->
      <div class="row">

        <% @hospitals.each_with_index do |x, index| %>

        <div class="col-sm-4 location">
          <div class="panel panel-info">
            <div class="panel-heading">
              <center><h3 class="panel-title"><%=link_to x.name, hospital_path(x) %></h3></center>
            </div>
            <div class="panel-body"><center>
              <label>Location:</label>
              <%= x.location %> 
              <br>
              <label>Beds:</label>
              <%= x.beds %>
            </center></div>
          </div>
        </div>

<!--   <%= link_to "Edit hospital", edit_hospital_path(x) %>
    <br>
  
   <%= link_to "Destroy hospital", hospital_path(x), method: :delete %>
    <br>  -->
  <% end %>